<header>
	<div>
		<h1><a href="{{ site.github.url }}/">{{site.title}}</a></h1>
		<p>
			<a class="mdi mdi-twitter" href="https://twitter.com/MonkeyDAndres"></a>
			<a class="mdi mdi-github-circle" href="https://github.com/MonkeyAndres"></a>
			<a class="mdi mdi-home" href="/"></a>
		</p>
	</div>
</header>

<nav>
	<div>
		<a class="mdi mdi-check" href="/revisados"> Revisados</a>
		<a href="{{ site.github.url }}/categorias" class="mdi mdi-menu"> Categorias</a>
		<a class="mdi mdi-clock-alert" href="/pendientes"> Pendientes</a>
	</div>
</nav>